* {
  box-sizing: border-box;
}
html, body {
  height:100%;
  width:100%;
  margin:0;
}

.prompt-window {
  font-size: 72px;
  text-align: center;
  width: 100%;
  padding: 50px;
  border: 10px solid rgba(255, 145, 0, 0.877);
  border-style: groove ridge ridge groove;
  border-radius: 30px;
}

.card-style {
  text-align: center;
  margin-top: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 250px;
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 30px;
  box-shadow: 10px 10px 8px #888888;
}

.action-panel {
  margin-top: 25px;
  width: 100%;
  border: 10px solid rgba(255, 145, 0, 0.877);
  border-style: groove ridge ridge groove;
  border-radius: 30px;
  /* padding-bottom: 75px; */
}

.player-number {
  text-align: center;
  font-size: 72px;
  background-color: aqua;
  /* border: 5px solid black; */
  border-radius: 15px;
  /* padding: 50px; */
  /* width: 30%; */
  /* float: left; */
  margin: 15px;
}

.submit {
  background-color: aqua;
  border-radius: 15px;
  padding-left: 40px;
  padding-right: 40px;
  /* width: 60%; */
  margin: 15px;
  /* float: right; */
}

.empty-space {
  padding-bottom: 30%;
}